.idea/
/build/
/build-*/
/build-bpf/
/build-dev/
/build-asan/
/build-coverage/
/build-fuzz/
/build-tsan/
/build-ubsan/
/cmake-build*/
*.bpf.o
*.skel.h
vmlinux.h
/aegisbpf
*.o
coverage*.html
coverage.xml
coverage.css
coverage.js
__pycache__/
*.pyc
